*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


    
.second{
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url("/images/bughatti.jpg" );
margin-top: 30px;
font-family: sans-serif;
height: 100vh;
}
.image1 {
    border-radius: 10%;
    height: 80%;
    width: 30%;
    margin: 30px;
    margin-left: 400px;
    
}
.form {

    width:50%;
    height: 35px;
    padding: 20px;
    margin: 30px;
   
}

.two {
margin: 30px;

}

.tit {
    margin-top: 100px;
    color: red;
    margin-bottom: 40px;
    margin-left: 15%;
}

.ema {
 color: red;
    margin-left: 30px;
}

.submit {
    width: 80px;
    height: 35px;
    margin-left: 30%;
}

.one{
    margin: 30px;

}